<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.dreamteam.snapichat.user.actions.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>SessionCheckFilter</filter-name>
        <filter-class>com.dreamteam.snapichat.filters.SessionCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionCheckFilter</filter-name>
        <url-pattern>/edit_profile.jsp</url-pattern>
        <url-pattern>/user_profile.jsp</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/friends.jsp</url-pattern>
        <url-pattern>/friends</url-pattern>
        <url-pattern>/findFriends</url-pattern>
        <url-pattern>/story</url-pattern>
        <url-pattern>/story.jsp</url-pattern>
        <url-pattern>/chat.jsp</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
